* {
    box-sizing: border box;
    margin: 0;
    padding: 0;
}

.navi-bar .header {
    display:flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    background-color:#1F2937 ;

}

.header {
    display:flex 1 1 0;
    text-decoration: none;
    text-size:18px;
    color: #E5E7EB;
   
}

#hb {
    font-size:24px;
    color: #F9FAF8;

}